// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: white;
}

.card-category {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
