<div class="card">
  <div class="card-body">
    <h4>Add yours review</h4>
    <%= simple_form_for [list, review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
